[Desktop Entry]
Type=Application
Name=Prospectr
Comment=Find local businesses with growth opportunities
Exec=Prospectr
Icon=prospectr
Categories=Office;
Terminal=false
